name: Release

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'
      - '[0-9]+.[0-9]+.[0-9]+rc[0-9]+'

jobs:
  release-to-pypi:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4
    - name: Set up PDM
      uses: pdm-project/setup-pdm@v4
      with:
        python-version: "3.8"
    - name: Build wheels
      run: pdm build --no-sdist
      env:
        PDM_BUILD_SCM_VERSION: ${{github.ref_name}}
    - name: Publish package distributions to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
    - name: Upload packages as artifacts
      uses: actions/upload-artifact@v2-preview
      with:
        name: chaostoolkit-kubernetes-packages
        path: dist/chaostoolkit*

  create-gh-release:
    runs-on: ubuntu-22.04
    steps:
      - name: Create Release
        uses: actions/create-release@latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: false
          prerelease: false

  upload-gh-release-assets:
    runs-on: ubuntu-22.04
    needs:
      - create-gh-release
      - release-to-pypi
    steps:
      - name: Download pypi artifacts
        uses: actions/download-artifact@v2-preview
        with:
          name: chaostoolkit-kubernetes-packages
          path: dist
      - name: Upload wheel & source dist to GH release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "dist/*.whl,dist/*.tar.gz"
          artifact: ""
          token: ${{ secrets.GITHUB_TOKEN }}
          allowUpdates: true
